<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
{% if url %}
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <h1>Url: {{ url.pk }} </h1>
    <p>Original: {{ url.shortened }}</p>
    <p>Destination: {{ url.destination }}</p>
    <p>Status: {{ url.status }}<p>
    <p>Title: {{ url.title }}</p>
    <p>Wayback Snapshot: {{ url.snapshot_url }}</p>
    <p>Wayback Timestamp: {{ url.timestamp }}</p>
    <h3>Phantom Image: </h3>
    <img src='{{ url.screenshot_url }}' alt="Phantom Image" width="100px" heigh="100px">
{% endif %}
<form action='{% url 'urlexpander2:index' %}'>
    {% csrf_token %}
    <input type = 'submit' value = 'Home'>
</form>
</body>
</html>