<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UrlExpander2</title>
</head>
<body>
{% if object_list %}
    <h3>Here are all your Urls: </h3>
    {% for url in object_list %}
        <form action='#'>
            <li><a href='{% url 'detail' url.id %}'>{{ url.shortened }}</a></li>
            <input type = 'submit' value = 'Delete'>
        </form>
    {% endfor %}
{% else %}
    <h2>You don't have any urls</h2>
{% endif %}

<form action='#'>
    {% csrf_token %}
    <input type="text">
    <input type="submit" value = "Add Url">
</form>

</body>
</html>
